version: '3.8'

services:
  valkey1:
    image: valkey/valkey:8.1
    container_name: valkey_cluster1-1
    ports:
      - "6380:6380"
      - "16380:16380"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6380
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16380
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6380
    networks:
      - valkey-net

  valkey2:
    image: valkey/valkey:8.1
    container_name: valkey_cluster1-2
    ports:
      - "6381:6381"
      - "16381:16381"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6381
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16381
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6381
    networks:
      - valkey-net

  valkey3:
    image: valkey/valkey:8.1
    container_name: valkey_cluster1-3
    ports:
      - "6382:6382"
      - "16382:16382"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6382
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16382
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6382
    networks:
      - valkey-net

  valkey4:
    image: valkey/valkey:8.1
    container_name: valkey_cluster2-1
    ports:
      - "6390:6390"
      - "16390:16390"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6390
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16390
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6390
    networks:
      - valkey-net

  valkey5:
    image: valkey/valkey:8.1
    container_name: valkey_cluster2-2
    ports:
      - "6391:6391"
      - "16391:16391"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6391
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16391
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6391
    networks:
      - valkey-net

  valkey6:
    image: valkey/valkey:8.1
    container_name: valkey_cluster2-3
    ports:
      - "6392:6392"
      - "16392:16392"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6392
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16392
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6392
    networks:
      - valkey-net

  valkey7:
    image: valkey/valkey:8.1
    container_name: valkey_cluster3-1
    ports:
      - "6370:6370"
      - "16370:16370"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6370
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16370
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6370
    networks:
      - valkey-net

  valkey8:
    image: valkey/valkey:8.1
    container_name: valkey_cluster3-2
    ports:
      - "6371:6371"
      - "16371:16371"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6371
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16371
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6371
    networks:
      - valkey-net

  valkey9:
    image: valkey/valkey:8.1
    container_name: valkey_cluster3-3
    ports:
      - "6372:6372"
      - "16372:16372"
    environment:
      VALKEY_EXTRA_FLAGS: >
        --requirepass {{ valkey_password }}
        --masterauth {{ valkey_password }}
        --port 6372
        --appendonly no
        --save ''
        --cluster-enabled yes
        --cluster-config-file nodes.conf
        --cluster-node-timeout 5000
        --cluster-announce-bus-port 16372
        --cluster-announce-ip {{ ansible_host }}
        --cluster-require-full-coverage no
        --cluster-announce-port 6372
    networks:
      - valkey-net

networks:
  valkey-net:
    driver: bridge